In [95]:
import boto3
import json
import os

import configparser

config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY = ''
SECRET = ''

DWH_CLUSTER_TYPE = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE = config.get("DWH","DWH_NODE_TYPE")
DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")

DWH_DB = config.get("CLUSTER","DB_NAME")
DWH_DB_USER = config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD = config.get("CLUSTER","DB_PASSWORD")
DWH_PORT = config.get("CLUSTER","DB_PORT")

DWH_IAM_ROLE_NAME = config.get('IAM_ROLE', 'NAME')

In [96]:

# Initialize IAM Client using SDK
iam = boto3.client('iam', 
    aws_access_key_id=KEY,
    aws_secret_access_key=SECRET,
    region_name='us-west-2'
    )

try:
    # Create ROle with name
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )    
except Exception as e:
    print(e)

# Attach permissions Policy
iam.attach_role_policy(
    RoleName=DWH_IAM_ROLE_NAME,
    PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
)['ResponseMetadata']['HTTPStatusCode']

# Get ARN from newly created role
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

In [97]:
print(roleArn)

arn:aws:iam::722777237427:role/dwhRole

In [98]:
redshift = boto3.client(
    'redshift',
    region_name="us-west-2",
     aws_access_key_id=KEY,
     aws_secret_access_key=SECRET
     )

try:
    response = redshift.create_cluster(        
        #HW
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),

        #Identifiers & Credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,

        #Roles (for s3 access)
        IamRoles=[roleArn]  
    )
except Exception as e:
    print(e)

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)

In [114]:
# Print endpoint
redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]['Endpoint']['Address']

'dwhcluster.ce095msd3dau.us-west-2.redshift.amazonaws.com'

In [115]:
import os 
DWH_ENDPOINT = 'dwhcluster.ce095msd3dau.us-west-2.redshift.amazonaws.com'

conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT, DWH_DB)

In [112]:
# %load_ext sql
%sql $conn_string

In [175]:
# Code to fix duplicates
# %%sql
# create table users_stage (like users);
# insert into users_stage
# select distinct userId, firstName, lastName, gender, level from stage_events
# where page = 'NextSong';

# begin transaction;
# update users
# set level = users_stage.level
# from users_stage
# where users.user_id = users_stage.user_id
# and users.level != users_stage.level;

# delete from users_stage
# using users
# where users_stage.user_id = users.user_id;

# insert into users
# (select user_id, level from users_stage);

# end transaction;
# drop table users_stage;

### STAGE TABLES

In [183]:
%%sql
select * from stage_events limit 10;

 * postgresql://dwhuser:***@dwhcluster.ce095msd3dau.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('Tracy Gang Pussy', 'Logged In', 'Stefany', 'F', 2, 'White', Decimal('221'), 'free', 'Lubbock, TX', 'PUT', 'NextSong', Decimal('1540708070796'), 82, 'I Have A Wish', '200', 1541122457796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', '83'),
 ('The Decemberists', 'Logged In', 'Lily', 'F', 1, 'Koch', Decimal('242'), 'paid', 'Chicago-Naperville-Elgin, IL-IN-WI', 'PUT', 'NextSong', Decimal('1541048010796'), 172, 'Everything I Try to Do_ Nothing Seems to Turn Out Right', '200', 1541149456796, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"', '15'),
 ('Tiziano Ferro', 'Logged In', 'Lily', 'F', 7, 'Koch', Decimal('251'), 'paid', 'Chicago-Naperville-Elgin, IL-IN-WI', 'PUT', 'NextSong', Decimal('1541048010796'), 172, 'Ed Ero Contentissimo', '200', 1541150809796, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"', '15'),
 ('Marques Houston', 'Logged In', 'Lily', 'F', 15, 'Koch', Decimal('264'), 'paid', 'Chicago-Naperville-Elgin, IL-IN-WI', 'PUT', 'NextSong', Decimal('1541048010796'), 172, 'Naked', '200', 1541152676796, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"', '15'),
 ('She & Him', 'Logged In', 'Lily', 'F', 23, 'Koch', Decimal('167'), 'paid', 'Chicago-Naperville-Elgin, IL-IN-WI', 'PUT', 'NextSong', Decimal('1541048010796'), 172, 'Got Me', '200', 1541154085796, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"', '15'),
 ('Avantasia', 'Logged In', 'Lily', 'F', 31, 'Koch', Decimal('368'), 'paid', 'Chicago-Naperville-Elgin, IL-IN-WI', 'PUT', 'NextSong', Decimal('1541048010796'), 172, 'Shelter From The Rain', '200', 1541155991796, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"', '15'),
 ('Calle 13 Featuring CafÃ\x83Â© Tacuba', 'Logged In', 'Lily', 'F', 37, 'Koch', Decimal('293'), 'paid', 'Chicago-Naperville-Elgin, IL-IN-WI', 'PUT', 'NextSong', Decimal('1541048010796'), 172, 'No Hay Nadie Como TÃ\x83Âº', '200', 1541157637796, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"', '15'),
 ('Washed Out', 'Logged In', 'Tegan', 'F', 3, 'Levine', Decimal('168'), 'free', 'Portland-South Portland, ME', 'PUT', 'NextSong', Decimal('1540794356796'), 165, 'New Theory', '200', 1541158225796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', '80'),
 ('Nada Surf', 'Logged In', 'Aleena', 'F', 6, 'Kirby', Decimal('181'), 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', Decimal('1541022995796'), 157, 'Whose Authority', '200', 1541159048796, 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44'),
 ('Alliance Ethnik', 'Logged In', 'Lily', 'F', 47, 'Koch', Decimal('252'), 'paid', 'Chicago-Naperville-Elgin, IL-IN-WI', 'PUT', 'NextSong', Decimal('1541048010796'), 172, 'ReprÃ\x83Â©sente', '200', 1541160045796, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"', '15')]

In [184]:
%%sql
select * from stage_songs limit 10;

 * postgresql://dwhuser:***@dwhcluster.ce095msd3dau.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('ARNUJQM1187FB3EE72', None, None, 'Bergen County, NJ', 'Number Twelve Looks Like You', 'SOBIODA12A8C13CDAD', 'Cradle the Crater', Decimal('258'), Decimal('2007')),
 ('AR5R1EG1187FB3E94F', Decimal('46'), Decimal('-94'), 'Brainerd, MN', 'Linda Eder', 'SORLOYR12AB0188AAC', 'On The Street Where You Live (album version)', Decimal('205'), Decimal('2003')),
 ('ARVZDOM1187B9B49C9', None, None, 'Brooklyn, NY', 'Barry Manilow', 'SOEGWEI12A8C143182', 'Some Bar By The Harbor', Decimal('298'), Decimal('0')),
 ('ARIOSKN1257509BCE1', None, None, '', 'Cama', 'SOBUWPY12A8C1446C0', 'In This Life', Decimal('210'), Decimal('2009')),
 ('AR470HW1187FB3B8DF', None, None, 'Bakersfield, CA', 'Merle Haggard And The Strangers', 'SOTTXMZ12A6D4F6DB1', 'Folsom Prison Blues', Decimal('165'), Decimal('2006')),
 ('ARIRDVY1187FB587CC', Decimal('-33'), Decimal('151'), 'Sydney, New South Wales, Australi', 'The Beautiful Girls', 'SOBZHTP12A8C13B9B7', 'Shot Down', Decimal('404'), Decimal('2005')),
 ('ARFI49X1187FB473D0', None, None, '', 'David Kitt', 'SOZXNGX12A8C13FBD4', 'Up To You', Decimal('224'), Decimal('2006')),
 ('ARM8Y3L1187FB537A7', None, None, '', 'Mortal', 'SOHWKNM12A8C135A07', 'Word Is Alive_ The (Jeromix)  (Mortal Album Version)', Decimal('290'), Decimal('0')),
 ('ARAXZGI1187FB3EB5F', None, None, '', 'Ana Carolina', 'SOHRARU12AC468E3DD', 'É Hora Da Virada', Decimal('188'), Decimal('2003')),
 ('ARZ9FGC1187B98B47D', None, None, 'St. Albans, Herts, England', 'The Zombies', 'SOUTFFK12AB0184613', 'I Know She Will', Decimal('152'), Decimal('1974'))]

### DIMENSION TABLES

In [185]:

%%sql
select * from users limit 10;

 * postgresql://dwhuser:***@dwhcluster.ce095msd3dau.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('15', 'Lily', 'Koch', 'F', 'paid'),
 ('15', 'Lily', 'Koch', 'F', 'paid'),
 ('75', 'Joseph', 'Gutierrez', 'M', 'free'),
 ('42', 'Harper', 'Barrett', 'M', 'paid'),
 ('44', 'Aleena', 'Kirby', 'F', 'paid'),
 ('8', 'Kaylee', 'Summers', 'F', 'free'),
 ('10', 'Sylvie', 'Cruz', 'F', 'free'),
 ('44', 'Aleena', 'Kirby', 'F', 'paid'),
 ('97', 'Kate', 'Harrell', 'F', 'paid'),
 ('44', 'Aleena', 'Kirby', 'F', 'paid')]

In [186]:

%%sql
select * from songs limit 10;

 * postgresql://dwhuser:***@dwhcluster.ce095msd3dau.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('SORLOYR12AB0188AAC', 'On The Street Where You Live (album version)', 'AR5R1EG1187FB3E94F', Decimal('2003'), Decimal('205')),
 ('SOUTFFK12AB0184613', 'I Know She Will', 'ARZ9FGC1187B98B47D', Decimal('1974'), Decimal('152')),
 ('SOBVRXY12A6D4FC669', 'Stark Honesty', 'AR0BK8Y1187B9AF28A', Decimal('2005'), Decimal('211')),
 ('SOOARDX12A8C141112', 'The chosen one', 'ARVRXYY1187B9A8FC6', Decimal('0'), Decimal('342')),
 ('SOXKMLO12AB017FFDB', 'Honey', 'ARLGIX31187B9AE9A0', Decimal('0'), Decimal('242')),
 ('SOVVPZA12AB0187D3B', 'Bad Form (Instrumental)', 'ARUQNK41187B98C045', Decimal('0'), Decimal('230')),
 ('SODQGLE12AB0180CD0', 'Not Alive (David Bianco Mix/Original Mix)', 'ARE4C3K1187B98944A', Decimal('1999'), Decimal('218')),
 ('SOBBHII12AB0184B2C', 'La mauvaise réputation', 'ARNV5OQ1187FB531D5', Decimal('2008'), Decimal('138')),
 ('SOIRGRL12AB0186BC2', 'Exchange', 'ARLDW6Z1187FB3F2A0', Decimal('1995'), Decimal('368')),
 ('SOFJROI12A8C135D1E', 'A Change Is Gonna Come', 'ARV1L7J1187B98DD57', Decimal('1994'), Decimal('242'))]

In [187]:

%%sql
select * from artists limit 10;

 * postgresql://dwhuser:***@dwhcluster.ce095msd3dau.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('ARIOSKN1257509BCE1', 'Cama', '', None, None),
 ('AR8CRLE1187FB4E949', 'G. Love', '', None, None),
 ('ARN7OQ21187FB5A6B3', 'Furry Lewis', 'Greenwood, MS', None, None),
 ('ARMTSG61187B991EF1', 'Maroons feat. Erin Anova', '', None, None),
 ('AREH0IP119B8667CB3', 'Annotations of an Autopsy', 'London', Decimal('51'), Decimal('0')),
 ('AR9W3X91187FB3994C', 'Phil Collins', 'Chiswick, London, England', None, None),
 ('ARFD5AT1187FB40779', 'De La Ghetto', '', None, None),
 ('ARR1JFI1187B9B9C38', 'La Tropa F', '', None, None),
 ('AR43X651187FB56884', 'Let Go', 'Tempe, AZ', Decimal('33'), Decimal('-111')),
 ('ARZ5CQT1187FB4CF24', 'The American Analog Set', 'Austin, TX', Decimal('30'), Decimal('-97'))]

In [188]:

%%sql
select * from time limit 10;

 * postgresql://dwhuser:***@dwhcluster.ce095msd3dau.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(datetime.datetime(2018, 11, 2, 9, 12, 32), Decimal('9'), Decimal('2'), Decimal('44'), Decimal('11'), Decimal('2018'), Decimal('5')),
 (datetime.datetime(2018, 11, 2, 12, 4, 57), Decimal('12'), Decimal('2'), Decimal('44'), Decimal('11'), Decimal('2018'), Decimal('5')),
 (datetime.datetime(2018, 11, 2, 16, 49, 44), Decimal('16'), Decimal('2'), Decimal('44'), Decimal('11'), Decimal('2018'), Decimal('5')),
 (datetime.datetime(2018, 11, 5, 9, 24, 14), Decimal('9'), Decimal('5'), Decimal('45'), Decimal('11'), Decimal('2018'), Decimal('1')),
 (datetime.datetime(2018, 11, 5, 11, 17, 25), Decimal('11'), Decimal('5'), Decimal('45'), Decimal('11'), Decimal('2018'), Decimal('1')),
 (datetime.datetime(2018, 11, 7, 1, 42, 43), Decimal('1'), Decimal('7'), Decimal('45'), Decimal('11'), Decimal('2018'), Decimal('3')),
 (datetime.datetime(2018, 11, 7, 6, 43, 3), Decimal('6'), Decimal('7'), Decimal('45'), Decimal('11'), Decimal('2018'), Decimal('3')),
 (datetime.datetime(2018, 11, 4, 9, 55, 31), Decimal('9'), Decimal('4'), Decimal('44'), Decimal('11'), Decimal('2018'), Decimal('0')),
 (datetime.datetime(2018, 11, 5, 15, 56, 51), Decimal('15'), Decimal('5'), Decimal('45'), Decimal('11'), Decimal('2018'), Decimal('1')),
 (datetime.datetime(2018, 11, 4, 10, 40, 38), Decimal('10'), Decimal('4'), Decimal('44'), Decimal('11'), Decimal('2018'), Decimal('0'))]

### FACT TABLE

In [191]:
%%sql

select * from songplays order by songplay_id limit 10;

 * postgresql://dwhuser:***@dwhcluster.ce095msd3dau.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(0, datetime.datetime(2018, 11, 5, 17, 31, 11), '73', 'paid', 'SOLZOBD12AB0185720', 'ARPDVPJ1187B9ADBE9', 255, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (1, datetime.datetime(2018, 11, 15, 14, 31, 8), '97', 'paid', 'SOVOZSC12A8C144E73', 'ART0ETO1187B9AB519', 605, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (2, datetime.datetime(2018, 11, 9, 17, 35, 10), '80', 'paid', 'SOOUXUD12AB0188D97', 'ARWKFPM1187FB4E712', 416, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (3, datetime.datetime(2018, 11, 4, 6, 51, 12), '25', 'paid', 'SORKKTY12A8C132F3E', 'ARIH5GU1187FB4C958', 128, 'Marinette, WI-MI', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (4, datetime.datetime(2018, 11, 26, 8, 32, 17), '97', 'paid', 'SOAYHDS12AB018016A', 'ARVL9VD1187B9AE186', 837, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (5, datetime.datetime(2018, 11, 21, 1, 48, 56), '97', 'paid', 'SOJNJGQ12A6D4F62BC', 'ARMYDZ21187B9A550C', 671, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (6, datetime.datetime(2018, 11, 30, 10, 30, 53), '36', 'paid', 'SOOIPWS12AB018CBBB', 'ARKJS6R1187FB46324', 998, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (7, datetime.datetime(2018, 11, 16, 14, 21, 12), '85', 'paid', 'SOLRYQR12A670215BF', 'ARNLO5S1187B9B80CC', 436, 'Red Bluff, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (8, datetime.datetime(2018, 11, 5, 17, 31, 11), '73', 'paid', 'SOLZOBD12AB0185720', 'ARPDVPJ1187B9ADBE9', 255, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (9, datetime.datetime(2018, 11, 15, 14, 31, 8), '97', 'paid', 'SOVOZSC12A8C144E73', 'ART0ETO1187B9AB519', 605, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"')]

In [192]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)
#### CAREFUL!!

{'Cluster': {'ClusterIdentifier': 'dwhcluster',
  'NodeType': 'dc2.large',
  'ClusterStatus': 'deleting',
  'ClusterAvailabilityStatus': 'Modifying',
  'MasterUsername': 'dwhuser',
  'DBName': 'dwh',
  'Endpoint': {'Address': 'dwhcluster.ce095msd3dau.us-west-2.redshift.amazonaws.com',
   'Port': 5439},
  'ClusterCreateTime': datetime.datetime(2021, 3, 24, 17, 56, 21, 559000, tzinfo=tzutc()),
  'AutomatedSnapshotRetentionPeriod': 1,
  'ManualSnapshotRetentionPeriod': -1,
  'ClusterSecurityGroups': [],
  'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-3b6c3303',
    'Status': 'active'}],
  'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
    'ParameterApplyStatus': 'in-sync'}],
  'ClusterSubnetGroupName': 'default',
  'VpcId': 'vpc-4ec0e736',
  'AvailabilityZone': 'us-west-2a',
  'PreferredMaintenanceWindow': 'sat:12:00-sat:12:30',
  'PendingModifiedValues': {},
  'ClusterVersion': '1.0',
  'AllowVersionUpgrade': True,
  'NumberOfNodes': 4,
  'PubliclyAccessible': True,
  'Encrypted': False,
  'Tags': [],
  'EnhancedVpcRouting': False,
  'IamRoles': [{'IamRoleArn': 'arn:aws:iam::722777237427:role/dwhRole',
    'ApplyStatus': 'in-sync'}],
  'MaintenanceTrackName': 'current',
  'DeferredMaintenanceWindows': [],
  'NextMaintenanceWindowStartTime': datetime.datetime(2021, 3, 27, 12, 0, tzinfo=tzutc())},
 'ResponseMetadata': {'RequestId': 'f4834d6d-2d3b-457f-9063-73f0b3c9909c',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': 'f4834d6d-2d3b-457f-9063-73f0b3c9909c',
   'content-type': 'text/xml',
   'content-length': '2622',
   'vary': 'accept-encoding',
   'date': 'Wed, 24 Mar 2021 21:19:38 GMT'},
  'RetryAttempts': 0}}

In [193]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)
#### CAREFUL!!

{'ResponseMetadata': {'RequestId': 'f5531333-3603-4e0f-871d-afa4533c77ae',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': 'f5531333-3603-4e0f-871d-afa4533c77ae',
   'content-type': 'text/xml',
   'content-length': '200',
   'date': 'Wed, 24 Mar 2021 21:19:38 GMT'},
  'RetryAttempts': 0}}